$bar-height: 6px;

.grade-bar {
  .grade-bar__container {
    -moz-transform: translateY(calc(50% - #{$bar-height / 2}));
    -ms-transform: translateY(calc(50% - #{$bar-height / 2}));
    -webkit-transform: translateY(calc(50% - #{$bar-height / 2}));
    transform: translateY(calc(50% - #{$bar-height / 2}));

    rect {
      height: $bar-height;
    }
  
    .grade-bar__base {
      fill: $light-300;
    }
  
    .grade-bar__divider {
      fill: $primary-500;
      width: 1px;
    }
  }
  
  .grade-bar--passing {
    fill: $primary-500;
  }

  .grade-bar--current-passing {
    fill: $success-500;
  }

  .grade-bar--current-non-passing {
    fill: $accent-b;
  }
}

.arrow {
  margin: 0 !important;
}

#minimum-grade-tooltip {
  .arrow::after {
    border-bottom-color: $primary-500;
  }
}

#passing-grade-tooltip {
  .arrow::after {
    border-top-color: $success-500;
  }

  background: $success-500;
}

#non-passing-grade-tooltip {
  .arrow::after {
    border-top-color: $warning-500;
  }

  background: $warning-500;
}
